
.commencts-container {
	background-image: url("../images/Shape 44.png");
	border: 1px solid #ddd;
	border-radius: 0px;
	padding: 5px;
	display: block;
	width: 100%;
	position: relative;
	padding-left: 40px;
    margin-bottom: 20px;
}

.comments {
	display:block;
	padding-left: 0px;
}

.comments .cmmnt, ul .cmmnt, ul ul .cmmnt { 
	display: block;
	position: relative;
	padding: 0px 65px; 
}


.comments  .avatar  { 
	
	position: absolute;
	top: 8px;
	left: 0px;  
}
.comments .avatar img { 
	max-width: 48px;
	max-height: 48px;
	border: 1px;
	border-color: #b3b3b3;
	border-style: solid;
	padding: 5px;
}



.comments  .cmmnt-content {
	padding: 14px 3px; 
	padding-bottom: 12px; 
	padding-top: 8px; 
	color: #959595;
}

.comments  header { 
	font-size: 14px;
	display: block;
	margin-bottom: 8px;
}
.comments .pubdate { 
	color:#3a3e3f; 
	font-style: italic;
}
.comments  .userlink { 
	font-weight: bold;
	color: #f26c4f; 
} 
.comments .replies { 
	margin-bottom: 7px; 
	padding-left:0;
}