.post {
    margin-top: 23px;
}



.post-container {
}


.post .post-header {
    
}

.post-header .post-image-container {
	width: 100%;
	position:relative;
	margin-bottom: 10px;

}

.post-header  img.post-image {
	position: relative; 
	background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 5px;
	display: block;
	height: auto;
	width: 100%; 
}


.post-image-container .on-image {
	z-index:12;
	position: absolute; 
	bottom: 20px; 
	left: 45px;
	color: #f26c4f;
}

.post-image-container .title {
	text-align: center;
	color: white; 
	background: rgba(0, 0, 0, 0.7);
	position: relative; 
	padding: 5px 60px 5px 60px;
	height: auto;
	width: 100%; 
	z-index:12;
	font-size: 40px; 
}

.post-image-container .title-container {
    position: absolute; 
	bottom: 55%;
	max-height: 60px;
	width: 100%; 
	padding-left: 5px;
	padding-right: 5px;
}


.post-image-container .on-image-right {
	z-index:12;
	position: absolute; 
	top: 15px; 
	right: 15px;
	color: #f26c4f;
}

.post .post-body {
	padding-left: 38px;
	padding-top: 20px;
	padding-right: 38px;
	padding-bottom: 20px;
	border: 0px;
	border: 1px solid #ddd;
	width: 100%;
	position: relative; 
    margin-bottom: 20px;
    background-image: url("../images/Shape 44.png");
}



.post-body .big-header {
    color: #3a3e3f;
    font-size: 30px;
	word-wrap: break-word;
	font-weight: bold;
	text-align: left;
}

.post-body .info {
    color: #bebebe;
	font-size: 12px;
	margin-bottom: 15px;
}

.post-body .midle-orange-header {
    font-size: 15px;
	word-wrap: break-word;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0px;
    margin-top: 10px;
    color: #f26c4f;
}

.post-body .midle-black-header {
    font-size: 15px;
	word-wrap: break-word;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0px;
    margin-top: 10px;
    color: #3a3e3f;
}

.post-body .text {
    color: #959595;
    word-wrap: break-word;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom:0;
	line-height: 22px;
}




.bottom-container{
	padding-left:10px;
	padding-right:10px;
}



