.black-text {
	color: #3a3e3f;
}

.ligth-text {
	color: #959595;
}

.error-text {
	color: #f26c4f;
}

.orange-text {
	color: #f26c4f;
}

.big-title {
	font-size: 30px;
	word-wrap: break-word;
	font-weight: bold;
	text-align: left;

}

.midle-title {
	font-size: 15px;
	word-wrap: break-word;
	font-weight: bold;
	text-align: left;
	margin-bottom: 0;
    margin-top: 10px;
}

.italice {
	font-style: italic;
}

.text {
	word-wrap: break-word;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom:0;
	line-height: 22px;
}

.info-text {
	color: #bebebe;
	font-size: 12px;
	margin-bottom: 15px;
}

